services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    #ハードコーディングしないように.envから環境変数を使う
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend/app:/code/app
    
    env_file:
      - .env
      - ./backend/.env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload