# --python--
__pycache__
*.py[cod]
*$py.class
.pytest_cache/

.env
*/.env

venv/
.venv/

.git
.gitignore

Dockerfile
docker-compose.yml

.vscode/

uploads/

backend/data/*.db
backend/data/*.db-journal

backend/uploads/images/*
!backend/uploads/images/.gitkeep